html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  background-color: black;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: flex-center;
  flex-direction: column
}

.title {
  font-size: 50px;
  text-align: center;
  font-family: monospace;
  text-decoration: underline;
  color: pink;
}

h1 {
  text-align: center;
  color: pink;
  font-family: monospace;
  font-size: 35px;
}

li {
  text-align: center;
  color: pink;
  font-family: monospace;
  font-size: 20px;
}
#message {
  display: flex;
  text-align: center;
}

#reset {
  margin-top: 15px;
  margin-bottom: 15px;
}

#howtoplay {
  margin-top: 15px;
}

.board {
  display: flex;
  flex-wrap: wrap;
}

.board div {
  color: green;
  font-size: 2rem;
  width: 75px;
  height: 75px;
  border: 1px #ccc solid;
  border-radius: 10%;
  background-color: white;
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board div:hover {
  background-color: white;
}

div.mine, div.mine:hover {
  background: no-repeat center/60% url("images/bomb.svg") crimson;
}

div.hidden {
  background: #eee;
}

div.hidden:hover {
background: #ccc;
}

div.marked, div.marked:hover {
  background: no-repeat center/60% url("images/mark.svg") deepskyblue;
}
