@import url(http://fonts.googleapis.com/css?family=Pacifico|Open+Sans|Montserrat);

/*NAV BAR*/
.fixed-nav-bar {
  font-family: 'Pacifico';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: black;
}
.fixed-nav-bar li, .fixed-nav-bar a {
  height: 50px;
  line-height: 50px;
}

.navbar-fixed-bottom{
  color: white;
  font-family: 'Pacifico';
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: black;
}
.navbar-text {
  float: right;
  margin-right: 20px;
  margin-left: 10px;
  position: absolute;
  top: 0;
  left: 15px;
  margin-left: 0px;
}
.navbar-logos {
  float: left;
  position: absolute;
}

/*MENU BAR*/
.menu {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}
.menu a, .menu a:visited {
  color: #ffffff;
}
.menu a:hover, .menu a:target {
  color: grey;
}
.menu-items {
  display: inline-block;
}
.menu-items li {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}
.menu-items a {
  text-decoration: none;
}
.show, .hide {
  display: none;
  padding-left: 15px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center left;
  color: white;
}
.show {
  background-image: url(assets/down-arrow-icon.png);
}
.hide {
  background-image: url(assets/up-arrow-icon.png);
}

/*Name Banner*/
.sitename {
  display: inline-block;
  margin-right: 20px;
  margin-left: 10px;
}
a.sitename, a:visited.sitename {
  color: #e0e0e0;
}
.sitename {
  position: absolute;
  top: 0;
  left: 15px;
  margin-left: 0px;
}
.menu-items {
  display: none;
  width: 100%;
  margin-top: 50px;
  background-color: black;
}
.menu-items li {
  display: block;
  text-align: center;
}
.show, .hide {
  position: absolute;
  top: 0;
  right: 15px;
}
.show {
  display: inline-block;
}
.hide {
  display: none;
  }
  #menu:target .show {
    display: none;
  }
  #menu:target .hide, #menu:target .menu-items {
    display: inline-block;
  }

@media only screen and (max-width: 800px) {
  .menu {
    position: relative;
    width: 100%;
  }
}
@media only screen and (max-width: 220px) {
  .sitename, .show, .hide {
    font-size: 14px;
  }
}
