<!DOCTYPE html>
<html>
<head>
<style>

/******** HEADER*********/

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
}

ul.topnav li {float: left;}

li {
    float: left;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

/******** BODY *********/
body{
  background-color: #DEB887;
  padding-left: 10%;
  padding-right: 10%;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 17px;
  line-height: 1.5;
  text-align: center;
}

h1{
  background: white;
  color: black;
  font-size: 70px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  text-transform: capitalize;
}

h3{
  background: white;
  colour: ;
  font-size: 17px;
  padding: 10px;
  text-align: center;
  font-style: bold;
}

p {
  background: white;
  colour: black;
  font-size: 17px;
  padding: 30px;
  text-align: center;
  font-style: italic;
}

strong{
  background: white;
  color: black;
  font-size: 22px;
  text-align: center;
  font-weight: bolder;
}
/******** FOOTER *********/


</style>
</head>
