/** HOME PAGE NAV BAR **/
.nav-bar ul {
     list-style-type: none;
     margin-top: 0;
     padding: 0;
     text-align: center;
     overflow: hidden;
     background-color: black;
     position: fixed;
     top: 0;
     width: 50px;
     }

li {
     float: left;
     }

a:hover {
     color: #50B9FA;
     }

li a {
     display: block;
     color: white;
     text-align: center;
     padding: 14px 14px;
     text-decoration: none;
     }

li a:hover:not(.active) {
     background-color: grey;
     }

.active {
     background-color: white;
     }
/******** HEADER*********/
h1{
color: grey;
font-size: 70px;
font-style: italic;
font-weight: bold;
text-align: center;
text-decoration: underline;
text-transform: capitalize;
}

/******** BODY *********/
body{
background-color: white;
padding-left: 70px;
padding-right: 70px;
font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 17px;
line-height: 1.5;
color: #03A9F4;
text-align: center;
}

h2, h3, h4, h5, h6, {
background: white;
padding: 30px;
text-align: center;
color: black
}

p {
background: white;
colour: black;
padding: 50px
text-align: center;
}
