/******** NAV BAR *********/
.nav-bar ul {
     list-style-type: none;
     margin-top: 0;
     padding: 0;
     text-align: center;
     overflow: scroll;
     background-color: black;
     position: relative;
     top: 0;
     width: 100px;
     }

li {
     float: left;
     }

a:hover {
     color: #50B9FA;
     }

li a {
     display: block;
     color: white;
     text-align: center;
     padding: 14px 14px;
     text-decoration: none;
     }

li a:hover:not(.active) {
     background-color: grey;
     }

.active {
     background-color: black;
     }
/******** HEADER*********/


/******** BODY *********/
h1{
color: grey;
font-size: 70px;
font-style: italic;
font-weight: bold;
text-align: center;
text-decoration: underline;
text-transform: capitalize;
}

body{
background-color: white;
padding-left: 0;
padding-right: 70px;
font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 17px;
line-height: 1.5;
text-align: center;
}

h2, h3, h4, h5, h6, {
background: white;
padding: 30px;
text-align: center;
color: #03A9F4;
font-weight: bold;
}

p {
colour: black;
background: white;
padding: 50px
text-align: center;
font-style: italic;
}
