    /** HOME PAGE NAV BAR **/
.nav-bar ul {
    list-style-type: none;
    margin-top: 0px;
    padding: 0;
    text-align: center;
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    }

.nav-bar li {
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    float: left;
    font-weight: bold;
    font-family: cursive;
    position:
    }

.nav-bar li a {
    display: block;
    color: white
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }

.nav-bar li a:hover:not(.active) {
    background-color: grey;
    }

.active {
    background-color: #4CAF50;
    }

.container {
    background-color: black;
    background-size: 70px;
    font-size: 16px;
    font-weight: bold;
    font-family: fantasy;
    text-decoration: underline;
    text-emphasis-color: white;
    }
/******** BODY *********/
body{
    background-color: white;
    padding-left: 70px;
    padding-right: 70px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 1.5;
    color: #03A9F4;
    text-align: right;
    }

page-header {
    color: white;
    text-align: center;
    background-color: #000000;
    }

a:hover {
    color: #50B9FA;
    }

h1, h2, h3, h4, h5, h6, p{
    background: white;
    padding: 30px;
    text-align: center;
    }

p {
    background: white;
    colour: black;
    padding: 10px, 10px, 10px, 100px;
    text-align: right;
    }
