    /** NAV BAR **/
.nav-bar ul {
    list-style-type: none;
    margin-top: 0px;
    padding: 0;
    text-align: center;
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    }

.nav-bar li {
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    float: left;
    font-weight: bold;
    font-family: cursive;
    }

.nav-bar li a {
    display: block;
    color: white
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }

.nav-bar li a:hover:not(.active) {
    background-color: grey;
    }

.active {
    background-color: #4CAF50;
    }
    
.container {
    background-color: black;
    background-size: 70px;
    font-size: 16px;
    font-weight: bold;
    font-family: fantasy;
    text-decoration: underline;
    text-emphasis-color: white;
    }
/******** BASE *********/
body{
    background-color: white;
    padding-left: 70px;
    padding-right: 70px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 1.5;
    color: #000000;
    text-align: center;
    }

page-header {
    color: white;
    text-align: center;
    background-color: #000000;
    }

a:hover {
    color: #50B9FA;
    }

h1, h2, h3, h4, h5, h6, p{
    background: white;
    padding: 30px;
    text-decoration-color: currentColor;
    text-align: center;
    }

p {
    background: white;
    colour: black;
    padding: 30px;
    text-align: center;
    }

/******** BLOG PAGES *********/
body {
    margin: 0;
    }

ul {
    list-style-type: none;
    margin: 70;
    padding: 70;
    width: 25%;
    background-color: white;
    position: fixed;
    height: 100%;
    overflow: auto;
    }

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    }

li a.active {
    background-color: white;
    color: black;
    }

li a:hover:not(.active) {
    background-color: white;
    color: black;
    }
