<<<<<<< HEAD
    /** HOME NAV BAR **/
    body {margin:0;}
=======
    /** HOME PAGE NAV BAR **/
.nav-bar ul {
    list-style-type: none;
    margin-top: 0px;
    padding: 0;
    text-align: center;
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    }
>>>>>>> master

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: black;
        position: fixed;
        top: 0;
        width: 100%;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover:not(.active) {
        background-color: grey;
    }

    .active {
        background-color: #4CAF50;
    }
<<<<<<< HEAD
    
/******** BASE *********/
=======
    body {
    margin: 0;
    }

ul {
    list-style-type: none;
    margin: 70;
    padding: 70;
    background-color: white;
    position: fixed;
    height: 100%;
    overflow: auto;
    }

li a {
    display: block;
    color: #000;
    padding: 8px 8px;
    text-decoration: none;
    }

li a.active {
    background-color: white;
    color: black;
    }

li a:hover:not(.active) {
    background-color: white;
    color: black;
    }
/******** BODY *********/
>>>>>>> master
body{
    background-color: white;
    padding-left: 70px;
    padding-right: 70px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 1.5;
    color: #03A9F4;
    text-align: right;
    }

page-header {
    color: white;
    text-align: center;
    background-color: #000000;
    }

a:hover {
    color: #50B9FA;
    }

h1, h2, h3, h4, h5, h6, p{
    background: white;
    padding: 30px;
    text-align: center;
    }

p {
    background: white;
    colour: black;
    padding: 10px, 10px, 10px, 100px;
<<<<<<< HEAD
    text-align: right;
=======
    text-align: justify;
>>>>>>> master
    }
