<!DOCTYPE html>
<html>
<head>
<style>

/******** HEADER*********/
.nav-bar ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     text-align: center;
     overflow: hidden;
     background-color: black;
     position: fixed;
     top: 0;
     width: 100%;
     }

.dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: grey;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: grey;
}

/******** BODY *********/
body{
  background-color: #DEB887;
  padding-left: 10%;
  padding-right: 10%;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 17px;
  line-height: 1.5;
  text-align: center;
}

h1{
  background: white;
  color: black;
  font-size: 70px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  text-transform: capitalize;
}

h3{
  background: white;
  colour: ;
  font-size: 17px;
  padding: 10px;
  text-align: center;
  font-style: bold;
}

p {
  background: white;
  colour: black;
  font-size: 17px;
  padding: 30px;
  text-align: center;
  font-style: italic;
}

strong{
  background: white;
  color: black;
  font-size: 22px;
  text-align: center;
  font-weight: bolder;
}
/******** IMAGES *********/
div.img {
    border: 1px solid #ccc;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 25%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/******** FOOTER *********/

</style>
</head>
