* {
  box-sizing: border-box; }
  /******** BASE *********/
body {
      background: white
      padding: 30;
      margin: 0;
      font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 17px;
      line-height: 1.5;
      color: #000000;
      text-align: center;
      }

h1, h2, h3, h4, h5, h6, p {
        colour: #000000;
      }

p {
        background: white;
        colour: black;
        padding: 10px 10px 30px 30px;
        text-align: center;
  }

  /******** NAV BAR *********/
li {
  list-style:  none;
  display: inline-block;
  color: black;
  font-size: 0.8em;
}

li a{
  color: gray;
  padding: 0 20px;
  font-size: 1.2em;
}

ul{
  text-align: center;
  background-color: white;
  color: black;
  /*padding: 20px;*/
}

nav {
  display: block;
  background-color: white;
  /*opacity: 0.6;*/
  box-shadow: inset 10px 5px 6px -3px blue;
  /*border: solid 1px red;*/
}

/******** IMAGES *********/

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

#semantic-image {
  display: inline;
  float: right;
  margin: 10px;
  padding: 10px;
  display: none;
}

.main-image{
  max-width:100%;
  margin:0;
}

.image-box{
  max-width: 100%;
  background-image: url("/img/Hikurangi.JPG");
  background-repeat: no-repeat;
  border: solid 1px red;
}


a {
  color: #1e6bb8;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

 li {
   colour: white;
   padding: 0 20px;
 }

.btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s; }
  .btn + .btn {
    margin-left: 1rem; }

.btn:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.3); }

.page-header {
  color: white;
  text-align: center;
  background-color: #000000;
  background-image:
